<template name="layout">
    <div class="container">
        <header class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">InCrowd</a>
                <a class="navbar-brand" href="{{pathFor 'fs'}}">FS</a>
                <a class="navbar-brand" href="{{pathFor 'haiti'}}">Haiti</a>
                <a class="navbar-brand" href="{{pathFor 'entity'}}">Entity Admin</a>
            </div>
        </header>
        <div id="main">
            {{> yield}}
        </div>
    </div>
</template>