<template name="apiAdmin">
    <div class="row" >
        <h3> Setup APIs </h3>
        <div class="post col-md-8">
            <h5> Restart the Crisis.net API search </h5>
            <a id="crisisnet-restart-api" class="btn btn-info btn-sm"> Restart Crisis.net API Search </a>
        </div>

        <!--<div class="col-md-8" id="right">-->
            <!--{{#each entity}}-->
                <!--<div class="post">-->
                    <!--<div class="post-content entity-block">-->

                        <!--<h3 class="entity-title">-->
                            <!--<a href="#">{{name}}</a>-->
                            <!--<small> <a href="#" id="entityEdit">Edit</a></small>-->
                        <!--</h3>-->

                        <!--{{>entityBlockIcons}}-->



                        <!--<p>{{description}}</p>-->

                    <!--</div>-->
                <!--</div>-->
            <!--{{/each}}-->
        <!--</div> &lt;!&ndash; right column &ndash;&gt;-->
    </div>
</template>