<template name="entity">
    <h2> Entity Admin</h2>

        <div class="row" >
            <div class="post col-md-4" id="left">
                <form>
                    <div class="form-group">
                        <label for="entityName">Entity Name</label>
                        <input type="text" class="form-control" id="entityName" name="name" placeholder="Enter entity name">
                    </div>

                    <div class="form-group">
                       <textarea name="description" class="form-control" rows="3" placeholder="Enter short description of the entity"></textarea>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="check-place" name="place" value="place"> Place
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="check-ngo" name="ngo" value="ngo"> NGO
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="check-person" name="person" value="place"> Person
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="col-md-8" id="right">
                <div class="post">
                    <a id="entity-search" class="btn btn-info btn-sm"> Search All Haiti for Entities </a>
                </div>
            </div>
        </div>





</template>